.podcast {
  position: relative;
  width: 100%;
  padding: $small-space;
}

.podcast__header {
  display: flex;
  justify-content: center;
  @include tablet {
    justify-content: initial;
  }
}

.podcast__image {
  width: $podcast-image-size;
  height: $podcast-image-size;

  @include tablet-small {
    margin-right: $small-space;
  }

  @include tablet {
    margin-right: $space;
  }
}

.podcast__info {
  display: none;

  @include tablet-small {
    display: block;
    flex: 1 1;
  }
}

.podcast__title {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;

  @include tablet {
    font-size: 3rem;
    padding-right: 12rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }
}

.podcast__subscribe {
  margin: $small-space 0;

  text-align: center;

  @include tablet {
    position: absolute;
    top: $small-space;
    right: $small-space;
  }

  @include laptop {
    top: $space;
  }
}

.podcast__link {
  font-size: 1.6rem;
  color: $dark-gray;
}

.podcast__link:hover {
  text-decoration: underline;
}

.podcast__description {
  margin-top: $small-space;

  @include desktop {
    font-size: 1.6rem;
  }
}

.podcast__description img {
  display: none;
}
